# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp
.pnp.js

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Django / DB
db.sqlite3
*.sqlite3
media/
staticfiles/

# Env
.env
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
*.pid
*.seed
*.bak
*.swp
*.tmp
.dockerignore
